name: Update MaxMind GeoLite2 MMDB

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * *"   # 每天 UTC 03:00

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare directories
        run: |
          mkdir -p GeoLite2 tmp

      - name: Download GeoLite2 Country
        run: |
          curl -L \
            "https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-Country&license_key=${{ secrets.MAXMIND_LICENSE_KEY }}&suffix=tar.gz" \
            -o tmp/country.tar.gz

      - name: Download GeoLite2 ASN
        run: |
          curl -L \
            "https://download.maxmind.com/app/geoip_download?edition_id=GeoLite2-ASN&license_key=${{ secrets.MAXMIND_LICENSE_KEY }}&suffix=tar.gz" \
            -o tmp/asn.tar.gz

      - name: Extract mmdb
        run: |
          tar -xzf tmp/country.tar.gz -C tmp
          tar -xzf tmp/asn.tar.gz -C tmp

          find tmp -name "*.mmdb" | grep Country | xargs -I {} cp {} GeoLite2/Country.mmdb
          find tmp -name "*.mmdb" | grep ASN | xargs -I {} cp {} GeoLite2/ASN.mmdb

      - name: Commit & Push
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add GeoLite2/*.mmdb
          git commit -m "Update GeoLite2 MMDB" || exit 0
          git push
